NODE_ENV=
APP_NAME=
BACKEND_DOMAIN=
APP_PORT=
API_PREFIX=

JWT_AUTH_SECRET=

DATABASE_TYPE=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SYNCHRONIZE=

FILE_DRIVER=local
ACCESS_KEY_ID=
SECRET_ACCESS_KEY=
AWS_DEFAULT_S3_BUCKET=
AWS_DEFAULT_S3_URL=
AWS_S3_REGION=
