NODE_ENV=
APP_NAME=
BACKEND_DOMAIN=
APP_PORT=
API_PREFIX=
APP_FALLBACK_LANGUAGE=
APP_HEADER_LANGUAGE=
SESSION_TOKEN_VALIDITY_IN_SEC=

ENCRYPTOR_KEY=
ENCRYPTOR_IV=
JWT_SECRET=

DATABASE_TYPE=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SYNCHRONIZE=

FILE_DRIVER=s3

INSTAGRAM_CLIENT_ID=
INSTAGRAM_REDIRECT_URI=
INSTAGRAM_CLIENT_SECRET=
INSTAGRAM_CALLBACK_TOKEN=

IS_SIGNUP_ALLOWED=true
JWT_AUTH_SECRET=